* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  height: 250px;
  background-image: url("https://s1.1zoom.me/big3/525/Dollars_Banknotes_Money_443093.jpg");
  background-size: 100%;
  padding-top: 100px;
  text-align: center;
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  transition: ease 0.5s;
}
nav ul li {
  display: inline-block;
  margin: 5px;
  font-size: 12pt;
}

nav ul li a {
  color: white;
  font-family: "Times new Romam";
  text-decoration: none;
  margin: 20px;
}

h1 {
  font-size: 35pt;
  font-family: "Verdana";
  text-shadow: 3px 2 3px 5px rgb(43, 40, 40);
}

h2 {
  font-size: 25pt;
  font-family: "verdana";
  text-align: center;
  padding-top: 15px;
}

h3 {
  padding: 20px;
  font-size: 16pt;
  font-family: "verdana";
  text-align: center;
  padding-top: 15px;
}

h4 {
  font-size: 15pt;
  text-align: left;
  margin-left: 190px;
}

main {
  padding: 20px;
  background-color: white;
}

main p {
  padding-top: 5px;
  margin: 4px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: "times new romam";
  font-size: 15pt;
  line-height: 25px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 110px;
}

#endereco {
  font-family: "Times new romam";
  font-size: 13pt;
  color: white;
  width: 300px;
  text-align: center;
}

#redes {
  position: absolute;
  right: 50px;
}

#redes ul {
  list-style: none;
}

#redes ul li {
  display: inline-block;
  margin: 10px;
}

#redes ul li a img {
  width: 50px;
  height: 50px;
}

#imgInicio {
  text-align: center;
}

#imgInicio img {
  width: 380px;
  height: 300px;
  border-radius: 60px;
  /* opacity: 0.7; */
  margin: 20px;
  transition: ease 1s;
}

#imgInicio img:hover {
  cursor: pointer;
  transform: scale(1);
}

#daddies {
  text-align: left;
  margin-left: 180px;
}

#linha-horizontal1 {
  width: 950px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}

#linha-horizontal2 {
  width: 400px;
  border: 1px dashed #000;
  margin-left: 180px;
  margin-right: auto;
}

/*                        CADASTRO               */
main form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 5px 5px 15px silver;
}

main form input,
main form select,
main form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  font-family: "Times new romam";
  border: 0px;
  border-bottom: 1px solid black;
  outline: 0px;
  background-color: rgb(248, 241, 241);
}

main form input[type="tel"],
[type="email"] {
  width: 49%;
}

main form input[type="number"] {
  width: 15%;
}
/* main form input[type="email"],
main form select {
  width: 49%;
} */

#enderecocad {
  height: 33px;
  width: 84%;
  padding: 8px;
  margin-bottom: 9px;
  font-family: "times new roman";
  border: 0px;
  border-bottom: 1px solid black;
  outline: 0px;
  color: black;
}

/*                                  SUGAR                     */
#linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#linha #colaboradores {
  width: 32%;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

#linha #colaboradores #imgcolab,
#linha #colaboradores #descricao {
  padding-top: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  transition: ease 0.5s;
}

#linha #colaboradores #imgcolab img {
  width: 110%;
  height: 340px;
  border-radius: 8px;
}

/* ========================================== Área de responsividade =============================================== */
#abrir,
#fechar {
  display: none;
}

/* Telas de smartphones */
@media (min-width: 0px) and (max-width: 576px) {
  header {
    width: 100%;
    height: 200px;
    background-position-y: -150px;
    background-size: 190%;
    padding-top: 90px;
  }
  h1 {
    font-size: 25pt;
  }

  nav {
    width: 200px;
    height: 100vh; /* Viewport height (altura do dispositivo */
    position: absolute;
    top: 0px;
    left: -200px;
    padding-top: 140px;
  }

  nav ul li {
    display: block;
    text-align: left;
    margin-bottom: 25px;
  }

  nav ul li a {
    font-size: 17pt;
  }

  #abrir {
    background-color: black;
    padding: 0px;
    font-size: 20pt;
    display: block;
    text-decoration: none;
    color: white;
    width: 35px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  #fechar {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30pt;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 50px;
  }

  #imgInicio img {
    width: 80%;
    height: 90%;
    border-radius: 70px;
  }

  #imgInicio img:hover {
    opacity: 1;
    width: 90%;
    height: 100%;
  }

  footer {
    display: block;
    text-align: center;
    padding: 0px;
  }

  footer #redes {
    position: relative;
    right: auto;
  }

  #endereco,
  #rede {
    margin-right: auto;
    margin-left: auto;
  }

  /* #imghistoria img {
    width: 46%;
    height: auto;
  } */

  #linha {
    flex-direction: column;
  }

  #linha #colaboradores {
    width: 100%;
    flex-direction: column;
  }

  #linha #colaboradores #imgcolab,
  #linha #colaboradores #descricao {
    width: 90%;
    margin: 10px;
    transition: ease 0.5s;
  }

  main form {
    width: 90%;
  }
}
